<section class="as_seen_on">
  <div class="container text-center">
    <h4>Our first notebook was featured as one of the <a href="https://www.wired.com/2013/12/the-best-maps-of-2013/">best maps of 2013</a> by Wired.</h4>
  </div>
</section>

{% comment %}
<section class="as_seen_on">
  <div class="container">
    <div>
      <img class="logo" src="http://f.cl.ly/items/010O183f2M0K2W440G2G/guardian.png" alt="">
    </div>
    <div>
      <a href="http://www.wired.com/wiredscience/2013/09/iceland-map/" target="_blank">
      <img class="logo" src="{{site.assets_path}}images/logos/wired_logo_dark@2x.png" alt="">
      </a>
    </div>
  </div>
</section>
{% endcomment%}
