<header class="header-13 latlon-islands-hero">
  <div class="container">
  <div class="row">
    <div class="col-sm-11 col-sm-offset-1">
    <a class="brand" href="#"><img src="{{site.assets_path}}images/logos/analog_logo@2x.png" alt=""></a>
    </div>
  </div>
  </div>
</header>

<section class="header-13-sub latlon-islands-hero-sub v-center bg-midnight-blue">
  <div>
  <div class="background">&nbsp;</div>
  <div class="container">
    <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-9 col-sm-offset-1 col-md-6 content">
      <h3>LatLon Notebooks have arrived.</h3>
      <p class="lead">
        Focusing on beautiful islands around the world, created through a beautiful letterpress process, our LatLon are now available through our online store.
      </p>
      <br>
      <div class="row">
        <div class="col-md-12 hidden-xs">
          <a class="btn btn-danger" href="http://store.analog.is/">
            LatLon Notebooks now for sale!
          </a>
        </div>
        <div class="col-xs-12 visible-xs">
          <a class="btn btn-danger" href="http://store.analog.is/">
            Order LatLon Noteboooks
          </a>
        </div>
      </div>
      <br><br><br><br>
    </div>
    </div>
  </div>
  </div>
</section>