<section class="content-35 latlon-islands-intro">
  <div class="background">
    <div class="container">
      <div class="row">
      <div class="col-sm-4 col-xs-14">
        <div></div>
      </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-5">
        <h2>LatLon Notebooks: Islands</h2>
        <p class="lead">
          A series of high quality notebooks based on Islands around the world with a beautiful letterpress
          cover built using geographical open data.
        </p>
        <p>
          We will produce at least 6 different designs for our Islands collection:
          <a href="https://en.wikipedia.org/wiki/Christmas_Island">Christmas Island</a>,
          <a href="https://en.wikipedia.org/wiki/Easter_Island">Easter Island</a>, 
          <a href="https://en.wikipedia.org/wiki/St_Helena">Saint Helena</a>, 
          <a href="https://en.wikipedia.org/wiki/Lesbos">Lesbos</a>, 
          <a href="https://en.wikipedia.org/wiki/Barbados">Barbados</a>, and 
          <a href="https://en.wikipedia.org/wiki/Tahiti">Tahiti</a>.
          Each of these islands have a beautiful topology and a fascinating story we want to share.
        </p>
        <p style="margin-top:2em">
          <a href="https://www.kickstarter.com/projects/joinanalog/latlon-notebooks-islands" class="btn btn-inverse">Read more about the project in Kickstarter</a>
        </p>
        <div class="row columns">
          <div class="col-sm-6">
            <h3>Best printing quality</h3>
            <p>
              The topographic covers will be printed by <a href="http://letterpress.is/">Reykjavik LetterPress</a>
              using the best paper and their long experience.
            </p>
          </div>
          <div class="col-sm-6">
            <h3>Open Data</h3>
            <p>
              We'll release all the vector work generated in the notebooks <strong>as open source</strong>, giving early access to project's backers.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
