<section class="content-24 latlon-islands-origin">
  <img class="image" src="{{site.assets_path}}images/eyjafjallajokull/final_design.jpg" alt="">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-6">
        <div class="features features-clear">
          <div class="features-bodies">
            <div class="features-body active">
              <h3>The origin of the project</h3>
              <p>
                On December 2012 we brainstormed a nice christmas present for a friend's company's customers.
                <a href="http://jositajosi.etsy.com">Jositajosi</a> wanted something useful and beautiful for their
                customers, imbued with the spirit of the <a href="https://en.wikipedia.org/wiki/Maker_culture">maker culture</a>
                which they are part of. As the big cartographic fans we are, we pitch them the idea of mixing digital maps into a
                physical letterpress notebook and they loved it. We started tinkering with different data,
                <a href="https://en.wikipedia.org/wiki/Digital_elevation_model">DEMs</a> and visualizations.
              </p>
              <p>
                We created an interactive web map with the contour lines of Iceland, were we and Jositajosi are based,
                it looked pretty interesting, but we quickly realized that the constrains imposed by the small
                format of the notebook called for something simpler. We focused then on the infamous
                <a href="https://en.wikipedia.org/wiki/Eyjafjallaj%C3%B6kull">Eyjafjallajökull</a> volcano which erupted
                in Iceland in 02010 <a href="https://en.wikipedia.org/wiki/Air_travel_disruption_after_the_2010_Eyjafjallaj%C3%B6kull_eruption">causing chaos</a>
                across Europe.
              </p>
              <p>
                After many hours generating vector data, manually retouching the isolines and editing the layout
                (see a detailed account <a href="http://aitor.is/writing-on/the-shape-of-your-notes">here</a>) we
                sent the final design to the printing studio. Everybody was happy with the result and we started sending
                them to jositajosi’s customers, friends and family. The response was <a href="https://www.etsy.com/shop/jositajosi/reviews">amazing</a>.
                Customers loved so much that we put the remaining copies up for sale. We <a href="https://www.etsy.com/transaction/163383549">sold out</a>
                the limited edition of 1.000 units in just a few weeks.
              </p>
              <p>
                During this time we received emails, questions and requests for new notebooks, displaying other places and
                geographical features. Wired published <a href="http://www.wired.com/wiredscience/2013/09/iceland-map/">an
                article featuring our map</a> and the notebooks and eventually selected it as one of
                <a href="http://www.wired.com/wiredscience/2013/12/the-best-maps-of-2013/#slideid-475981">the best maps of 2013</a>.
                We enjoyed the process so much that we've decided to create a series of notebooks, this time focused on one
                of our favourites places: islands.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>