<section class="content-30">
  <div class="container">
    <div class="row">
      <div class="text-center col-sm-10 col-sm-offset-1">
        <h3>Our creative process</h3>
        <p class="lead">
          For the creation of these series we combine modern software techniques and
          ancient analog printing techniques to create beautiful physical notebooks
          rooted in digital data.
        </p>
      </div>
    </div>
    <div class="row features">
      <div class="col-sm-3 box-1">
        <div class="description-top">
          <h6>Digital Elevation Models</h6>
          Our process starts with a research of the best elevations models available for the area we want to map.
          <img src="{{site.assets_path}}images/latlon-islands/arrow-tl@2x.png" width="61" height="97" alt="">
        </div>
        <div class="img">
          <img src="{{site.assets_path}}images/latlon-islands/dem-baikal-bw@2x.png" width="220" height="391" alt="">
          <img src="{{site.assets_path}}images/latlon-islands/dem-baikal@2x.png" width="220" height="391" alt="">
        </div>
        <div class="description-bottom">
          <h6>Variety of sources</h6>
          We get our models from multiple sources, including data by <a href="http://www.nasa.gov/">NASA</a>, <a href="http://www.cgiar-csi.org/">CGIAR-CSI</a> and local institutions.
          <img src="{{site.assets_path}}images/latlon-islands/arrow-bl@2x.png" width="61" height="97" alt="">
        </div>
      </div>
      <div class="col-sm-3 box-2">
        <div class="description-top">
          <h6>Isolines creation</h6>
          Using open source libraries like <a hre="www.gdal.org">GDAL</a> we generate the isolines of the desired region in vector format.
          <img src="{{site.assets_path}}images/latlon-islands/arrow-tl@2x.png" width="61" height="97" alt="">
        </div>
        <div class="img">
          <img src="{{site.assets_path}}images/latlon-islands/vector-generation-bw@2x.png" width="220" height="391" alt="">
          <img src="{{site.assets_path}}images/latlon-islands/vector-generation@2x.png" width="220" height="391" alt="">
        </div>
        <div class="description-bottom">
          <h6>Interaction opportunities</h6>
          Thanks to the vectorial nature of our isolines we can integrate the contour lines in multiple contexts, like <a href="http://aitor.is/iceland-contour/">interactive, web-ready maps</a> or printing high quality maps.
          <img src="{{site.assets_path}}images/latlon-islands/arrow-br@2x.png" width="97" height="110" alt="">
        </div>
      </div>
      <div class="col-sm-3 box-3">
        <div class="description-top">
          <h6>Manual editing</h6>
          Fitting the hyper detailed isolines within the constrained canvas of a pocket notebook means a lot of manual editing to remove and simplify unnecesary points.
          <img src=".{{site.assets_path}}images/latlon-islands/arrow-tr@2x.png" width="61" height="97" alt="">
        </div>
        <div class="img">
          <img src="{{site.assets_path}}images/latlon-islands/manual-editing-bw@2x.png" width="220" height="391" alt="">
          <img src="{{site.assets_path}}images/latlon-islands/manual-editing@2x.png" width="220" height="391" alt="">
        </div>
        <div class="description-bottom">
          <h6>Attention to detail</h6>
          We carefully review all the vector data to remove any strange artifacts (strange right angles, outliers, etc.) in order to get polished, accurate contour lines.
          <img src="{{site.assets_path}}images/latlon-islands/arrow-bl@2x.png" width="97" height="110" alt="">
        </div>
      </div>
      <div class="col-sm-3 box-4">
        <div class="description-top">
          <h6>Final notebook</h6>
          After a meticulous review of the design we print it using the best papers, <strong>sourced from sustainable forestry</strong> to create the perfect pocket notebook.
          <img src="{{site.assets_path}}images/latlon-islands/arrow-tr@2x.png" width="61" height="97" alt="">
        </div>
        <div class="img">
          <img src="{{site.assets_path}}images/latlon-islands/final-notebook-bw@2x.png" width="220" height="391" alt="">
          <img src="{{site.assets_path}}images/latlon-islands/final-notebook@2x.png" width="220" height="391" alt="">
        </div>
        <div class="description-bottom">
          <h6>Letterpress cover</h6>
          We enhance the finish of the notebooks with a letterpress cover, a tactile experience that match the represented nature.
          <img src="{{site.assets_path}}images/latlon-islands/arrow-br@2x.png" width="97" height="110" alt="">
        </div>
      </div>
    </div>
  </div>
</section>