<meta content="Analog is Dense." property="og:title" />
<meta content="So you like design, maps, architecture, the web, useful digital apps, delightful analog tools and a few other cool things. We too. We few, we happy few, we band of brothers. What is that thing they say in Frozen? Huh? That’s it. Kindred spirits." property="og:description" />
<meta content="https://analog.is/assets/images/promotions/dense/meta.png" property="og:image" />
<meta content="https://analog.is/dense" property="og:url" />

<meta content="Analog is Dense." name="twitter:title" />
<meta content="So you like design, maps, architecture, the web, useful digital apps, delightful analog tools and a few other cool things. We too. We few, we happy few, we band of brothers. What is that thing they say in Frozen? Huh? That’s it. Kindred spirits." name="twitter:description" />
<meta content="summary_large_image" name="twitter:card" />
<meta content="https://analog.is/assets/images/promotions/dense/meta.png" name="twitter:image" />
<meta content="@joinanalog" name="twitter:site" />
<meta content="https://analog.is/dense" name="twitter:url" />
