<footer class="footer-10">
    <div id="subscribe-form" class="subscribe-form bg-midnight-blue">
        <form action="http://analog.us7.list-manage1.com/subscribe/post?u=fc2289047f1efdabbbd2a8f96&amp;id=607efd0ca9" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <input type="email" name="EMAIL" class="email" placeholder="Enter email to sign up for Analog newsletter…" spellcheck="false">
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-large btn-danger" type="submit" value="Subscribe" name="subscribe" >Subscribe now</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <a class="brand" href="/">
                   <img src="{{site.assets_path}}images/logos/analog_logo_dark@2x.png" width="100" style="margin-top:0.6em">
                </a>
            </div>
            <div class="col-sm-3">
                <div class="box box-first">
                    <h6>Reykjavík, Iceland</h6>
                    <p>UNESCO world city of literature</p>
                    <p>Email us directly <a href="mailto:info@analog.is">info@analog.is</a>.</p>
                </div>
            </div>
            <div class="col-sm-4 col-sm-offset-1 box">
                <h6>About</h6>
                <p>
                  Analog is a small group actually composed by <a href="http://aitor.is">Aitor Garcia</a> and
                  <a href="http://suda.co.uk/">Brian Suda</a> focused on all things analog and how they interact with the digital space.
                </p>
            </div>
        </div>
    </div>
</footer>