<footer>
	<p>Analog is a small group based out of Reykjavik Iceland. It is mainly made-up of Aitor Garcia and Brian Suda.</p>
	<p>Reykjavik is a UNESCO world city of literature. As part of our contribution, we're focusing on all things analog to aid the process</p>
	<p>If you want to get in touch with us, you can email info@analog.is</p>
	
	<!-- Begin MailChimp Signup Form -->
	<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
	<style type="text/css">
		#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
		/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
		   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
	</style>
	<div id="mc_embed_signup">
	<form action="http://analog.us7.list-manage1.com/subscribe/post?u=fc2289047f1efdabbbd2a8f96&amp;id=607efd0ca9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		<label for="mce-EMAIL">Keep up with our products by signing-up for the mailing list</label>
		<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
		<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
	</form>
	</div>

	<!--End mc_embed_signup-->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43596804-1', 'analog.is');
  ga('send', 'pageview');

</script>
</footer>
