<section class="dense" style="background-image: url({{site.assets_path}}images/promotions/dense/back.png);">
  <div class="container">
    <div class="row" style="padding-top:110px">
      <div class="col-md-4">
        <img src="{{site.assets_path}}images/promotions/dense/logos.png" width="272" style="margin-bottom: 60px;">
      </div>
      <div class="col-md-6">
        <h3>Analog is dense.</h3>
        <p>
          Oh, hello. We didn't hear you come in. You look terrific. Have you been working out? Keep doing whateve…what?…ah, of course, the promotion.
        </p>

        <p>
          You are here because you saw our classified in <a href="https://www.densediscovery.com/">Dense Discovery</a>, the amazing newsletter curated by <a href="http://www.twitter.com/kaibrach">Kai Brach</a>, the person behind <a href="https://www.offscreenmag.com/">Offscreen</a>.
        </p>

        <p>
          So you like design, maps, architecture, the web, useful digital apps, delightful analog tools and a few other cool things. We too. We few, we happy few, we band of brothers. What is that thing they say in Frozen? Huh? That’s it. <strong>Kindred spirits</strong>.
        </p>

        <p>
          Let's celebrate our newly discovered camaraderie with a fifteen-fifteen: <strong>15% off in any 15$+ order</strong>.
        </p>

        <p>
          Just use the magic word <span class="coupon">ANALOGISDENSE</span> in the checkout. That’s all. Our algorithmic servants will do the rest.
        </p>
        <p>
          Peace out.
        </p>
        <div style="margin-top:60px">
          <a class="btn btn-inverse" href="http://store.analog.is/">
            GET SOME HANDSOME NOTEBOOKS
          </a>
        </div>
        <div style="height: 2600px;">
        </div>
        <p>
          * You cheeky bastard. You really know how to scroll, don't you? We like you. Let's do something. Here is a twenty-twenty: <strong>20% off in any 20$+ order</strong>. Use <span class="coupon">THEFOLDISFAKENEWS</span> in the checkout. Just don't tell anyone, ok?
        </p>
      </div>
    </div>
</section>
