@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto+Slab:300,400,700|Roboto:400,700,900,300);
.dropdown-arrow-inverse {
  border-bottom-color: #34495e !important;
  border-top-color: #34495e !important;
}
/* styles from flat-ui-free2.0.0-fix.less files */
body {
  color: #34495e;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.231;
}
input,
button,
select,
textarea {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
a {
  color: #16a085;
  text-decoration: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
a:hover {
  color: #1abc9c;
  text-decoration: none;
}
h1,
.h1 {
  font-size: 48px /* 64px */;
}
h2,
.h2 {
  font-size: 41px /* 52px */;
}
h3,
.h3 {
  font-size: 32px /* 40px */;
}
h4,
.h4 {
  font-size: 23px /* 29px */;
}
h5,
.h5 {
  font-size: 21px /* 28px */;
}
h6,
.h6 {
  font-size: 19px /* 24px */;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  line-height: 1.2em;
}
h1 {
  font-weight: 700;
}
h2 {
  font-weight: 700;
  margin-bottom: 2px;
}
h3 {
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 2px;
}
h4 {
  font-weight: 500;
  margin-top: 4px;
}
h5 {
  font-weight: 500;
}
h6 {
  font-weight: normal;
}
p {
  font-size: 18.004px;
  /* 18px */
  line-height: 1.722169;
  /* 31px */
}
.lead {
  font-size: 28px;
  /* 28px */
  line-height: 1.4642745;
  /* 41px */
  font-weight: 300;
  margin-bottom: 20px;
}
small {
  font-size: 84%;
  /* 15px */
  line-height: 2.050846;
  /* 31px */
}
blockquote {
  position: relative;
  border-left: none;
  padding-left: 19px;
}
blockquote p {
  font-size: 20.006px;
  line-height: 1.549829;
  font-weight: normal;
  margin-bottom: .4em;
}
blockquote small {
  font-size: 18.004px;
  line-height: 1.722169;
  font-style: italic;
  color: #34495e;
}
blockquote small:before {
  content: "";
}
blockquote:before {
  position: absolute;
  left: 0;
  width: 3px;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: #ebedee;
  content: "";
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.img-rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.img-comment {
  font-size: 14.994px;
  line-height: 1.231;
  font-style: italic;
  margin: 24px 0;
}
.text-primary {
  color: #1abc9c;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #15967d;
}
.text-success {
  color: #2ecc71;
}
a.text-success:hover,
a.text-success:focus {
  color: #25a35a;
}
.text-danger {
  color: #e74c3c;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #b93d30;
}
.text-warning {
  color: #f1c40f;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #c19d0c;
}
.text-info {
  color: #3498db;
}
a.text-info:hover,
a.text-info:focus {
  color: #2a7aaf;
}
.text-inverse {
  color: #ffffff;
}
a.text-inverse:hover,
a.text-inverse:focus {
  color: #cccccc;
}
.muted {
  color: #bdc3c7;
}
a.muted:hover,
a.muted:focus {
  color: #979c9f;
}
footer {
  background-color: transparent;
}
.input-append input {
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
}
.bg-white {
  background-color: #ffffff;
}
.bg-black {
  background-color: #000000;
}
.bg-turquoise {
  background-color: #1abc9c;
}
.bg-green-sea {
  background-color: #16a085;
}
.bg-emerland {
  background-color: #2ecc71;
}
.bg-nephritis {
  background-color: #27ae60;
}
.bg-peter-river {
  background-color: #3498db;
}
.bg-belize-hole {
  background-color: #2980b9;
}
.bg-amethyst {
  background-color: #9b59b6;
}
.bg-wisteria {
  background-color: #8e44ad;
}
.bg-wet-asphalt {
  background-color: #34495e;
}
.bg-midnight-blue {
  background-color: #2c3e50;
}
.bg-sun-flower {
  background-color: #f1c40f;
}
.bg-orange {
  background-color: #f39c12;
}
.bg-carrot {
  background-color: #e67e22;
}
.bg-pumpkin {
  background-color: #d35400;
}
.bg-alizarin {
  background-color: #e74c3c;
}
.bg-pomegranate {
  background-color: #c0392b;
}
.bg-clouds {
  background-color: #ecf0f1;
}
.bg-silver {
  background-color: #bdc3c7;
}
.bg-concrete {
  background-color: #95a5a6;
}
.bg-asbestos {
  background-color: #7f8c8d;
}
.bg-base {
  background-color: #34495e;
}
.bg-firm {
  background-color: #1abc9c;
}
.bg-success {
  background-color: #2ecc71;
}
.bg-danger {
  background-color: #e74c3c;
}
.bg-warning {
  background-color: #f1c40f;
}
.bg-info {
  background-color: #3498db;
}
.bordered {
  border-style: solid;
}
.bordered.bg-turquoise {
  border-color: #16a085;
}
.bordered.bg-emerland {
  border-color: #27ae60;
}
.bordered.bg-peter-river {
  border-color: #2980b9;
}
.bordered.bg-amethyst {
  border-color: #8e44ad;
}
.bordered.bg-wet-asphalt {
  border-color: #2c3e50;
}
.bordered.bg-sun-flower {
  border-color: #f39c12;
}
.bordered.bg-carrot {
  border-color: #d35400;
}
.bordered.bg-alizarin {
  border-color: #c0392b;
}
.bordered.bg-clouds {
  border-color: #bdc3c7;
}
.bordered.bg-concrete {
  border-color: #7f8c8d;
}
body {
  overflow-x: hidden;
  color: #7f8c8d;
  line-height: 1.29;
}
@media (max-width: 767px) {
  body {
    padding-right: 0;
    padding-left: 0;
  }
}
li {
  line-height: 20px;
}
.btn {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  line-height: 22px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
.btn.btn-large {
  font-size: 17px;
  padding: 12px 18px;
}
.btn > [class^="fui-"] {
  margin-left: 4px;
  margin-right: 4px;
  line-height: inherit;
  display: inline-block;
  vertical-align: top;
}
.input-group-btn .btn {
  background: #bdc3c7;
  line-height: 9px 12px 10px;
  line-height: 22px;
  border: 0;
  margin: 0;
  color: #fff;
  margin-left: 0 !important;
  padding-left: 10px;
  padding-right: 12px;
}
.input-group-btn .btn:hover {
  background: #cacfd2;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  outline: none;
}
.form-group {
  margin-bottom: 10px;
}
label {
  line-height: 20px;
}
.carousel {
  line-height: 1;
}
.hero-unit h1 {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
p {
  margin-bottom: 10px;
}
.page-wrapper {
  position: relative;
  z-index: 2;
  background: #fff;
}
.header-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.page-wrapper,
.header-antiflicker,
body > header .header-background {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -moz-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -o-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -ms-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
}
.nav-visible .page-wrapper,
.nav-visible .navbar.navbar-fixed-top,
.nav-visible .header-antiflicker,
.nav-visible body > header .header-background {
  -webkit-transform: translate3d(-230px, 0, 0);
  -moz-transform: translate3d(-230px, 0, 0);
  -ms-transform: translate3d(-230px, 0, 0);
  -o-transform: translate3d(-230px, 0, 0);
  transform: translate3d(-230px, 0, 0);
}
.no-csstransitions .page-wrapper,
.no-csstransitions .header-antiflicker {
  left: 0;
}
.no-csstransitions.nav-visible .page-wrapper,
.no-csstransitions.nav-visible .navbar.navbar-fixed-top,
.no-csstransitions.nav-visible .header-antiflicker {
  left: -230px !important;
  right: auto;
}
.carousel-indicators {
  width: 100%;
}
[class^="fui-"] {
  display: inline-block;
  vertical-align: middle;
}
body > section,
header,
footer {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  body > section,
  header,
  footer {
    padding-right: 5px;
    padding-left: 5px;
  }
}
img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: #2c3e50;
}
h1 {
  font-weight: normal;
}
h3 {
  font-weight: normal;
}
img {
  -webkit-backface-visibility: hidden;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
}
a:hover,
button:hover,
a:focus,
button:focus,
a:active,
button:active {
  outline: none;
}
.navbar {
  left: 0;
  right: 0;
}
.navbar .brand {
  padding: 23px 28px 24px 0;
  float: left;
}
.navbar .subnav {
  display: none;
}
.navbar a {
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
.navbar .navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
.navbar .nav > li {
  float: left;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  background: none;
}
.navbar .navbar-toggle {
  margin: 26px 0 10px;
  color: white;
  background: none;
  padding: 0;
  width: 30px;
  height: 30px;
  background: url("../../../common-files/icons/menu-icon.png") 50% no-repeat;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.navbar .navbar-toggle:before {
  display: none;
}
.navbar .navbar-form .btn {
  height: auto;
  line-height: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar .nav > li > a > [class*="fui-"] {
  font-size: 24px;
  margin: -10px 0 0;
  position: relative;
  top: 4px;
}
.navbar.navbar-fixed-top {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -moz-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -o-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -ms-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  max-width: 1170px;
  margin: 0 auto;
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-header {
    float: none;
  }
}
.header-19 .navbar-collapse.collapse,
.header-16 .navbar-collapse.collapse {
  display: none !important;
}
@media (max-width: 991px) {
  body .navbar-collapse {
    width: 230px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100% !important;
    z-index: 1;
  }
}
@media (min-width: 992px) {
  body > .collapse.navbar-collapse {
    display: none !important;
  }
}
body .navbar-collapse#header-19,
body .navbar-collapse#header-16 {
  width: 230px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100% !important;
  z-index: 1;
}
body > .navbar-collapse {
  padding: 25px 0;
  overflow: auto;
  background: #222527;
  min-height: 100%;
}
body > .navbar-collapse::-webkit-scrollbar {
  display: none;
}
body > .navbar-collapse .pull-right,
body > .navbar-collapse .pull-left {
  float: none !important;
}
body > .navbar-collapse .nav {
  margin: 0 0 10px;
}
body > .navbar-collapse .nav > li {
  margin: 0;
}
body > .navbar-collapse .nav > li > a {
  display: block;
  padding: 12px 35px;
  border-bottom: 2px solid #24292d;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 1px;
  color: #5b5e61;
  text-transform: uppercase;
}
body > .navbar-collapse .nav > li > a:hover,
body > .navbar-collapse .nav > li > a:focus,
body > .navbar-collapse .nav > li > a.active {
  color: #ffffff;
}
body > .navbar-collapse .nav > li > a:hover,
body > .navbar-collapse .nav > li > a:focus {
  background: none;
}
body > .navbar-collapse .nav > li.active > a {
  color: #ffffff;
}
body > .navbar-collapse .nav > li.active > a:hover,
body > .navbar-collapse .nav > li.active > a:focus,
body > .navbar-collapse .nav > li.active > a.active {
  color: #ffffff;
}
body > .navbar-collapse .subnav {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
body > .navbar-collapse .subnav li > a {
  display: block;
  margin: 0;
  padding: 7px 35px;
  font-size: 13px;
  font-weight: normal;
  color: #5b5e61;
  text-transform: capitalize;
}
body > .navbar-collapse .subnav li > a:hover,
body > .navbar-collapse .subnav li > a:focus,
body > .navbar-collapse .subnav li > a.active {
  color: #ffffff;
}
body > .navbar-collapse .navbar-form,
body > .navbar-collapse .navbar-search {
  padding: 10px 35px;
  margin: 0;
  border-bottom: 0 none;
  border-top: 0 none;
  box-shadow: none;
}
body > .navbar-collapse .navbar-form:focus,
body > .navbar-collapse .navbar-search:focus {
  outline: 0 none;
}
body > .navbar-collapse .navbar-form .btn,
body > .navbar-collapse .navbar-search .btn,
body > .navbar-collapse .navbar-form .btn-primary,
body > .navbar-collapse .navbar-search .btn-primary {
  height: 30px;
  line-height: 20px;
  font-size: 15px;
  color: #5b5e61;
  background: none;
  padding: 0;
}
body > .navbar-collapse .navbar-form .btn:hover,
body > .navbar-collapse .navbar-search .btn:hover,
body > .navbar-collapse .navbar-form .btn-primary:hover,
body > .navbar-collapse .navbar-search .btn-primary:hover {
  color: #fff;
}
.delimiter {
  margin-top: 200px;
}
.delimiter.line {
  margin-top: 150px;
  margin-bottom: 150px;
  border-top: 2px solid #ebedee;
}
header {
  padding-top: 100px;
  padding-bottom: 70px;
  z-index: 100;
}
header .brand {
  font-size: 25px;
  font-weight: normal;
  color: #34495e;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 800;
  letter-spacing: -1px;
  color: #2c3e50;
}
header .brand img:first-child {
  float: left;
  margin: -10px 15px 0 0;
}
section * {
  z-index: 2;
}
.background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 20;
  filter: alpha(opacity=2000);
  opacity: 0.2;
  filter: alpha(opacity=20);
}
@media (max-width: 768px) {
  .background {
    -webkit-background-size: auto 200%;
    -moz-background-size: auto 200%;
    -o-background-size: auto 200%;
    background-size: auto 200%;
  }
}
.container {
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  header {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
/**
 * Header 13 stylesheet  
 * */
.header-13 {
  position: absolute;
  width: 100%;
  margin: 140px auto;
  z-index: 5;
  padding-top: 0;
  padding-bottom: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}
@media (max-width: 767px) {
  .header-13 {
    text-align: center;
  }
  .header-13 .brand {
    position: absolute;
    top: -120px;
    left: 50%;
    margin-left: -50px;
  }
}
@media (max-width: 767px) and (max-width: 480px) {
  .header-13 .brand {
    top: 0;
  }
}
.header-13 .brand img {
  width: 100px !important;
  height: 100px !important;
  margin-top: 10px !important;
}
.loaded .header-13 {
  -webkit-transition: .6s 1.4s top, 1.2s 1.4s opacity;
  -moz-transition: .6s 1.4s top, 1.2s 1.4s opacity;
  -o-transition: .6s 1.4s top, 1.2s 1.4s opacity;
  transition: .6s 1.4s top, 1.2s 1.4s opacity;
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}
@media (max-width: 480px) {
  .header-13 {
    text-align: left;
    -webkit-transition-duration: 0 !important;
    -moz-transition-duration: 0 !important;
    -o-transition-duration: 0 !important;
    transition-duration: 0 !important;
    -webkit-transition-delay: 0 !important;
    -moz-transition-delay: 0 !important;
    -o-transition-delay: 0 !important;
    transition-delay: 0 !important;
  }
}
.header-13-sub {
  position: relative;
  padding-top: 140px;
  padding-bottom: 130px;
  color: #bdc3c7;
}
.header-13-sub.v-center,
.header-13-sub .v-center {
  display: table;
  width: 100%;
}
.header-13-sub.v-center > div,
.header-13-sub .v-center > div {
  display: table-cell;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
}
@media (min-width: 768px) {
  .header-13-sub.v-center.row:before,
  .header-13-sub .v-center.row:before,
  .header-13-sub.v-center.row:after,
  .header-13-sub .v-center.row:after {
    display: none;
  }
}
@media (max-width: 767px) {
  .header-13-sub.v-center,
  .header-13-sub .v-center {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
  }
  .header-13-sub.v-center.row,
  .header-13-sub .v-center.row {
    display: block;
    width: auto;
  }
  .header-13-sub.v-center.row:before,
  .header-13-sub .v-center.row:before,
  .header-13-sub.v-center.row:after,
  .header-13-sub .v-center.row:after {
    display: none;
  }
  .header-13-sub.v-center.row > *,
  .header-13-sub .v-center.row > * {
    display: block;
    vertical-align: baseline;
  }
}
.header-13-sub h3 {
  font-size: 29px;
  font-weight: normal;
  color: #ffffff;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  margin-bottom: 26px;
  font-weight: 300;
}
.header-13-sub .lead {
  font-size: 22px;
  font-weight: normal;
  color: #bdc3c7;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
.header-13-sub .col-sm-5.col-sm-offset-1 {
  margin-top: 220px;
}
@media (max-width: 767px) {
  .header-13-sub .col-sm-5.col-sm-offset-1 {
    margin-top: 0;
  }
}
.header-13-sub .btn {
  font-size: 22px;
  line-height: 21px;
  padding: 15px 20px 16px;
  display: block;
}
.header-13-sub .col-sm-5.col-sm-offset-1 {
  position: relative;
  left: -15%;
  opacity: 0;
  filter: alpha(opacity=0);
}
.loaded .header-13-sub .col-sm-5.col-sm-offset-1 {
  -webkit-transition: .8s .4s left, 1.2s .4s opacity;
  -moz-transition: .8s .4s left, 1.2s .4s opacity;
  -o-transition: .8s .4s left, 1.2s .4s opacity;
  transition: .8s .4s left, 1.2s .4s opacity;
  left: 0;
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}
.header-13-sub .col-sm-4.col-sm-offset-1 {
  position: relative;
  right: -100px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.loaded .header-13-sub .col-sm-4.col-sm-offset-1 {
  -webkit-transition: .8s right, 1.2s opacity;
  -moz-transition: .8s right, 1.2s opacity;
  -o-transition: .8s right, 1.2s opacity;
  transition: .8s right, 1.2s opacity;
  right: 0;
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}
@media (max-width: 480px) {
  .header-13-sub {
    padding-top: 90px;
  }
  .header-13-sub > div > .container {
    padding-top: 180px;
  }
  .header-13-sub .col-sm-5.col-sm-offset-1,
  .header-13-sub .col-sm-4.offset-1 {
    -webkit-transition-duration: 0 !important;
    -moz-transition-duration: 0 !important;
    -o-transition-duration: 0 !important;
    transition-duration: 0 !important;
    -webkit-transition-delay: 0 !important;
    -moz-transition-delay: 0 !important;
    -o-transition-delay: 0 !important;
    transition-delay: 0 !important;
  }
}
/**
 * Header 9 stylesheet
 * */
.header-9 {
  z-index: 100;
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
}
.header-9 .navbar {
  position: absolute;
  z-index: 2;
  top: 60px;
  font-size: 13px;
  font-weight: normal;
  color: #7f8c8d;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  opacity: 0;
  filter: alpha(opacity=0);
}
.header-9 .navbar.navbar-fixed-top {
  position: fixed;
  margin-top: 20px;
}
.loaded .header-9 .navbar {
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}
.header-9 .navbar .brand {
  padding: 0 !important;
  font-weight: normal;
  color: #aa5a17;
}
.header-9 .navbar .brand:hover,
.header-9 .navbar .brand:focus,
.header-9 .navbar .brand.active {
  color: #ffffff;
}
.header-9 .navbar .brand img:first-child {
  float: left;
  margin: -10px 15px 0 0;
}
@media (min-width: 992px) {
  .header-9 .navbar .nav {
    position: absolute;
    width: 100%;
    height: 0;
    right: 15px;
    overflow: visible;
    text-align: right;
  }
  .header-9 .navbar .nav > li {
    float: none;
    display: inline-block;
    margin-left: 10%;
    margin-top: 12px;
  }
}
@media (min-width: 1200px) {
  .header-9 .navbar .nav > li {
    margin-left: 11%;
  }
}
.header-9 .navbar .nav > li > a {
  padding: 0;
  font-size: 13px;
  font-weight: normal;
  color: #7f8c8d;
  color: #aa5a17;
  font-weight: 800;
  letter-spacing: 1.6px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}
.header-9 .navbar .nav > li > a:hover,
.header-9 .navbar .nav > li > a:focus,
.header-9 .navbar .nav > li > a.active {
  color: #ffffff;
}
.header-9 .navbar .nav > li.active > a {
  color: #ffffff;
}
.header-9 .navbar .nav > li.active > a:hover,
.header-9 .navbar .nav > li.active > a:focus,
.header-9 .navbar .nav > li.active > a.active {
  color: #cccccc;
}
.header-9 .navbar .navbar-toggle {
  margin-top: 8px;
}
.header-9 .navbar .navbar-header {
  position: relative;
  z-index: 2;
}
.header-9 > .container {
  position: relative;
}
.header-9-sub {
  position: relative;
  width: 100%;
  z-index: 50;
  padding-top: 330px;
  padding-bottom: 75px;
  background-color: #000;
  color: white;
  text-align: center;
}
.header-9-sub .background {
  background-image: url('../../lib/common-files/img/header/img-4.jpg');
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}
.header-9-sub > .container {
  position: relative;
  z-index: 51;
}
.header-9-sub .hero-unit.bordered {
  display: inline-block;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 8px solid white;
  padding: 26px 25px 18px;
  margin-bottom: 35px;
}
.header-9-sub .hero-unit.bordered p {
  font-size: 46px;
  font-weight: normal;
  color: #ffffff;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 800;
  line-height: 46px;
  letter-spacing: 0;
}
@media (max-width: 768px) {
  .header-9-sub .hero-unit.bordered p {
    font-size: 36px;
    font-weight: normal;
    color: #ffffff;
  }
}
.header-9-sub .wide-text.text-warning {
  font-size: 13px;
  font-weight: normal;
  color: #ffffff;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 800;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}
.header-9-sub .hero-unit {
  opacity: 0;
  filter: alpha(opacity=0);
}
.loaded .header-9-sub .hero-unit {
  -webkit-transition: 1.2s opacity;
  -moz-transition: 1.2s opacity;
  -o-transition: 1.2s opacity;
  transition: 1.2s opacity;
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}
@media (max-width: 480px) {
  .header-9-sub {
    padding-top: 150px;
    padding-bottom: 60px;
    background-attachment: scroll;
    background-position: 50% 50%!important;
  }
}
.header-9-sub .nav-steps {
  margin-top: 185px;
  font-size: 13px;
  font-weight: normal;
  color: #7f8c8d;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 25px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.header-9-sub .nav-steps > * {
  display: inline-block;
  vertical-align: middle;
}
.header-9-sub .nav-steps a {
  color: #ffffff;
  opacity: 20;
  filter: alpha(opacity=2000);
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.header-9-sub .nav-steps a:hover,
.header-9-sub .nav-steps a:focus,
.header-9-sub .nav-steps a.active {
  color: #ffffff;
}
.header-9-sub .nav-steps a:hover,
.header-9-sub .nav-steps a:focus {
  opacity: 50;
  filter: alpha(opacity=5000);
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.header-9-sub .nav-steps a.active {
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}
.header-9-sub .nav-steps .steps-selectors {
  margin: 0 40px;
  font-size: 22px;
  font-weight: normal;
  color: #7f8c8d;
  font-family: 'Courier New', monospace;
  letter-spacing: -7px;
}
.loaded .header-9-sub .nav-steps {
  -webkit-transition: 1.2s 1.2s opacity;
  -moz-transition: 1.2s 1.2s opacity;
  -o-transition: 1.2s 1.2s opacity;
  transition: 1.2s 1.2s opacity;
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}
@media (max-width: 480px) {
  .header-9-sub .nav-steps {
    margin-top: 82px;
  }
  .header-9-sub .nav-steps .steps-selectors {
    margin: 0 10px;
  }
}
.content-24 {
  position: relative;
  padding: 140px 0;
  color: #bdc3c7;
  overflow: hidden;
}
.content-24 h3 {
  font-size: 30px;
  font-weight: normal;
  color: #ffffff;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  margin-bottom: 40px;
  font-weight: 300;
}
.content-24 img.image {
  display: inline-block;
  position: absolute;
  right: 50%;
  margin-right: 100px;
}
.content-24 .col-sm-6.col-sm-offset-6 {
  position: relative;
}
.content-24 .features.features-clear .features-header {
  *zoom: 1;
  margin-bottom: 60px;
}
.content-24 .features.features-clear .features-header:before,
.content-24 .features.features-clear .features-header:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.content-24 .features.features-clear .features-header:after {
  clear: both;
}
.content-24 .features.features-clear .features-header:before,
.content-24 .features.features-clear .features-header:after {
  display: table;
  content: "";
  line-height: 0;
}
.content-24 .features.features-clear .features-header:after {
  clear: both;
}
.content-24 .features.features-clear .features-header .box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 50px;
  color: #667380;
  cursor: pointer;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
.content-24 .features.features-clear .features-header .box:first-child {
  margin-left: 0;
}
.content-24 .features.features-clear .features-header .box.active {
  color: #27ae60;
}
.content-24 .features.features-clear .features-header .box [class*="fui-"] {
  display: block;
  font-size: 24px;
  font-weight: normal;
  color: inherit;
}
.content-24 .features.features-clear .features-bodies {
  position: relative;
}
.content-24 .features.features-clear .features-body {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: 0.6s opacity;
  -moz-transition: 0.6s opacity;
  -o-transition: 0.6s opacity;
  transition: 0.6s opacity;
}
.content-24 .features.features-clear .features-body.active {
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
  z-index: 1;
}
.content-24 .features.features-clear .features-body p {
  margin-bottom: 45px;
}
.content-24 .btn.btn-clear {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 7px 26px 8px;
  background: none;
  border: 2px solid #2ecc71;
  font-size: 14px;
  font-weight: normal;
  color: #2ecc71;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 500;
}
.content-24 .btn.btn-clear:hover,
.content-24 .btn.btn-clear:focus {
  background: #2ecc71;
  color: white;
}
.content-24 .btn.btn-clear:active,
.content-24 .btn.btn-clear.active {
  border-color: #27ad60;
  background: #27ad60;
  color: rgba(255, 255, 255, 0.75);
}
@media (max-width: 767px) {
  .content-24 {
    padding: 35px;
  }
  .content-24 img.image {
    position: relative;
    margin-bottom: 48px;
    right: 0;
  }
  .content-24 .features.features-clear .features-header {
    margin-bottom: 48px;
  }
  .content-24 .features.features-clear .features-body p {
    margin-bottom: 48px;
  }
  .content-24 .container {
    padding-left: 0;
    padding-right: 0;
  }
}
.content-30 {
  position: relative;
  padding-top: 130px;
  padding-bottom: 130px;
}
@media (max-width: 480px) {
  .content-30 {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.content-30 .features > * {
  position: relative;
  text-align: center;
}
.content-30 .features .description-top,
.content-30 .features .description-bottom {
  position: absolute;
  width: 100%;
  text-align: left;
}
.content-30 .features .description-top {
  top: 0;
}
.content-30 .features .description-bottom {
  bottom: 0;
}
.content-30 .features .description-top,
.content-30 .features .description-bottom,
.content-30 .features .img img + img {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.25s;
  -moz-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
  transition: opacity 0.25s;
}
.content-30 .features > *:hover .description-top,
.content-30 .features > *:hover .description-bottom,
.content-30 .features > *:hover .img img + img {
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}
.content-30 .features .img {
  position: relative;
  display: inline-block;
  margin: 150px auto;
}
.content-30 .features .img img + img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.content-30 .features h6 {
  text-transform: none;
  font-size: 16px;
  font-weight: normal;
  color: #1abc9c;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 500;
}
.content-30 .features img[src*="arrow-"] {
  position: absolute;
}
.content-30 .features img[src*="arrow-tl"] {
  right: 110%;
  top: 30px;
}
.content-30 .features img[src*="arrow-tr"] {
  left: 110%;
  top: 30px;
}
.content-30 .features img[src*="arrow-bl"] {
  right: 110%;
  bottom: 20px;
}
.content-30 .features img[src*="arrow-br"] {
  left: 110%;
  bottom: 20px;
}
.content-30 .features .box-1 .description-top,
.content-30 .features .box-2 .description-top {
  left: 105%;
}
.content-30 .features .box-3 .description-top,
.content-30 .features .box-4 .description-top {
  right: 105%;
}
.content-30 .features .box-1 .description-bottom,
.content-30 .features .box-3 .description-bottom {
  left: 105%;
}
.content-30 .features .box-2 .description-bottom,
.content-30 .features .box-4 .description-bottom {
  right: 105%;
}
@media (max-width: 767px) {
  .content-30 .features .description-top,
  .content-30 .features .description-bottom {
    position: static;
    text-align: center;
  }
  .content-30 .features .img {
    margin: 60px auto;
  }
  .content-30 .features img[src*="arrow-"] {
    display: none;
  }
}
@media (max-width: 480px) {
  .content-30 .features .description-top,
  .content-30 .features .description-bottom,
  .content-30 .features .img img + img {
    opacity: 100;
    filter: alpha(opacity=10000);
    opacity: 1;
    filter: alpha(opacity=100);
  }
  .content-30 .features > * + * {
    margin-top: 60px;
  }
  .content-30 .features .img {
    margin: 15px auto;
  }
  .content-30 .features .description-top,
  .content-30 .features .description-bottom {
    width: 220px;
    margin: 0 auto;
    text-align: left;
  }
  .content-30 .features .description-top {
    margin-bottom: 30px;
  }
  .content-30 .features h6 {
    margin-bottom: 5px;
  }
}
.content-32 {
  position: relative;
  padding-top: 160px;
  padding-bottom: 155px;
  text-align: center;
  background: #f2f2f1;
  color: #7f8c8d;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}
.content-32 .lead {
  font-size: 20px;
  font-weight: normal;
  color: #7f8c8d;
  line-height: 36px;
}
.content-32 h3 {
  font-size: 35px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 40px;
  margin: 0 0 48px;
}
.content-32 .features {
  border-top: 2px solid #e6e6e5;
  margin-top: 56px;
  padding-top: 85px;
  font-size: 16px;
  line-height: 26px;
  text-align: left;
}
@media (max-width: 767px) {
  .content-32 .features {
    padding-top: 70px;
  }
}
.content-32 .features h6 {
  text-transform: none;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin: 0 0 20px;
}
@media (max-width: 767px) {
  .content-32 .features h6 {
    margin: 20px 0 10px;
  }
}
@media (max-width: 767px) {
  .content-32 {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.content-35 {
  position: relative;
  color: #7f8c8d;
  padding-top: 140px;
  padding-bottom: 145px;
}
.content-35 > * {
  position: relative;
}
.content-35 h2 {
  font-size: 35px;
  line-height: 40px;
  color: #2c3e50;
  font-weight: 300;
  margin: 0 0 45px;
}
.content-35 .lead {
  font-size: 20px;
  line-height: 36px;
  margin: 0 0 40px;
}
.content-35 .btn {
  font-weight: 500;
  padding-left: 26px;
  padding-right: 26px;
  margin-bottom: 20px;
}
.content-35 .btn.btn-inverse {
  background: #2c3e50;
}
.content-35 .columns {
  margin-top: 60px;
}
.content-35 .columns h3 {
  font-size: 20px;
  color: #34495e;
  line-height: 28px;
  margin: 0 0 20px;
  font-weight: 500;
}
.content-35 .columns p {
  margin: 0;
  font-size: 16px;
  line-height: 26px;
}
.content-35 .background {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}
.content-35 .background > .container {
  height: 100%;
}
@media (max-width: 767px) {
  .content-35 .background > .container {
    height: 250px;
    margin-bottom: 60px;
  }
}
.content-35 .background .col-sm-4 {
  position: absolute;
  height: 100%;
}
.content-35 .background .col-sm-4 > div {
  position: absolute;
  right: 0;
  height: 100%;
  width: 1000px;
  background: #f3f3f3;
  margin: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (max-width: 767px) {
  .content-35 .background .col-sm-4 > div {
    position: static;
    width: 100%;
    overflow: hidden;
  }
}
.content-35 .background .col-sm-4 > div img {
  height: 100%;
  width: auto;
}
@media (max-width: 767px) {
  .content-35 .background .col-sm-4 > div img {
    height: auto;
    min-height: 250px;
  }
}
@media (max-width: 767px) {
  .content-35 .background .col-sm-4 {
    left: 0;
    right: 0;
    padding: 0;
  }
}
@media (max-width: 767px) {
  .content-35 .background {
    position: static;
  }
}
@media (max-width: 767px) {
  .content-35 {
    padding-top: 0;
  }
}
/**
 * Footer 10 stylesheet
 * */
.footer-10 {
  position: relative;
  background: rgba(235, 237, 238, 0.76);
}
.footer-10 > .container {
  padding-top: 90px;
  padding-bottom: 80px;
}
.footer-10 .brand {
  display: inline-block;
  padding: 3px 0 0;
  font-size: 25px;
  font-weight: normal;
  color: inherit;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #34495e;
}
.footer-10 .brand img:first-child {
  float: left;
  margin: -10px 15px 0 0;
}
.footer-10 .brand:hover,
.footer-10 .brand:focus,
.footer-10 .brand.active {
  color: #e74c3c;
}
.footer-10 p {
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
  line-height: 25.6px;
}
.footer-10 a {
  color: #e74c3c;
  font-weight: normal;
}
.footer-10 a:hover,
.footer-10 a:focus,
.footer-10 a.active {
  color: #b93d30;
}
.footer-10 h6 {
  font-size: 18px;
  font-weight: normal;
  color: #34495e;
  font-weight: 500;
  text-transform: none;
}
.footer-10 nav h6 {
  margin: 0 0 15px;
  line-height: 24px;
  color: #34495e;
  font-weight: 500;
}
.footer-10 nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  color: inherit;
}
.footer-10 nav ul li {
  margin-bottom: 8px;
}
.footer-10 nav a {
  color: #7f8c8d;
}
.footer-10 nav a:hover,
.footer-10 nav a:focus,
.footer-10 nav a.active {
  color: #667071;
}
@media (max-width: 767px) {
  .footer-10 .col-sm-2 {
    float: left;
    width: 50%;
  }
  .footer-10 .col-sm-2 + .col-sm-2 + .col-sm-2 {
    clear: left;
    margin-top: 30px;
  }
  .footer-10 .col-sm-2 + .col-sm-2 + .col-sm-2 + .col-sm-2 {
    clear: none;
    margin-top: 30px;
  }
  .footer-10 .box {
    margin-top: 33px;
  }
}
@media (max-width: 480px) {
  .footer-10 .box {
    margin-top: 33px;
  }
  .footer-10 .box.box-first {
    margin-top: 0;
  }
  .footer-10 .brand {
    margin-bottom: 33px;
  }
}
.footer-10 .subscribe-form {
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer-10 .subscribe-form .col-sm-4 {
  text-align: right;
}
@media (max-width: 767px) {
  .footer-10 .subscribe-form .col-sm-4 {
    text-align: center;
  }
}
.footer-10 .subscribe-form form {
  margin: 0;
  position: relative;
}
.footer-10 .subscribe-form input.email {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  line-height: 60px;
  font-size: 50px;
  font-weight: normal;
  color: #ffffff;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 500;
  letter-spacing: -1px;
}
.footer-10 .subscribe-form input.email:-moz-placeholder {
  color: #ffffff;
}
.footer-10 .subscribe-form input.email::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}
.footer-10 .subscribe-form input.email:-ms-input-placeholder {
  color: #ffffff;
}
.footer-10 .subscribe-form input.email::-webkit-input-placeholder {
  color: #ffffff;
}
.footer-10 .subscribe-form input.email.placeholder {
  color: #ffffff;
}
.footer-10 .subscribe-form input.email::-webkit-input-placeholder {
  font-weight: 500;
  letter-spacing: -1px;
}
.footer-10 .subscribe-form input.email:-moz-placeholder {
  font-weight: 500;
  letter-spacing: -1px;
}
.footer-10 .subscribe-form input.email::-moz-placeholder {
  font-weight: 500;
  letter-spacing: -1px;
}
.footer-10 .subscribe-form input.email:-ms-input-placeholder {
  font-weight: 500;
  letter-spacing: -1px;
}
.footer-10 .subscribe-form .ani-placeholder {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  padding-left: 6px;
  line-height: 60px;
  font-size: 50px;
  font-weight: normal;
  color: #ffffff;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}
.footer-10 .subscribe-form .btn {
  margin-top: 8px;
  font-weight: 500;
  width: 220px;
  max-width: 100%;
}
@media (max-width: 767px) {
  .footer-10 .subscribe-form {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: -5px;
    margin-right: -5px;
  }
}
@media (max-width: 480px) {
  .footer-10 .subscribe-form input[type="text"],
  .footer-10 .subscribe-form .ani-placeholder {
    width: 100%;
    margin-bottom: 33px;
    line-height: 27px;
    font-size: 25px;
    font-weight: normal;
    color: inherit;
    text-align: center;
  }
}
.latlon-islands-hero .brand img {
  width: 100px !important;
  height: 25px !important;
}
@media (max-width: 480px) {
  .latlon-islands-hero {
    margin: 40px auto;
  }
}
@media (max-width: 480px) {
  .latlon-islands-hero-sub {
    padding-top: 120px;
  }
  .latlon-islands-hero-sub > div > .container {
    padding-top: 0px;
  }
}
.latlon-islands-hero-sub .background {
  background-image: url("../../assets/images/latlon-islands/series_main_bg.jpg");
  opacity: 30;
  filter: alpha(opacity=3000);
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.latlon-islands-hero-sub .content {
  margin-top: 100px !important;
}
@media (max-width: 480px) {
  .latlon-islands-hero-sub .content {
    margin-top: 0px !important;
  }
}
.latlon-islands-origin {
  background-color: #002933;
}
.latlon-islands-intro .background .col-sm-4 > div {
  background: #ffec5c url('../../assets/images/latlon-islands/yellow-background.png') 90% -10% no-repeat;
}
@media (max-width: 767px) {
  .latlon-islands-intro .background .col-sm-4 > div {
    background: #ffec5c url('../../assets/images/latlon-islands/yellow-background.png') 90% 40% no-repeat;
  }
}
.as_seen_on {
  background: #f1f1f1;
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (max-width: 767px) {
  .as_seen_on {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.as_seen_on .logo {
  height: 48px !important;
}
.as_seen_on > .container {
  display: table;
}
.as_seen_on > .container > div {
  display: table-cell;
  text-align: center;
}
.footer-10 .subscribe-form input.email {
  font-size: 37px;
  line-height: 1.2em;
}
@media (max-width: 767px) {
  .footer-10 .subscribe-form input.email {
    padding-bottom: 1em;
    text-align: center;
    font-size: 21px;
    line-height: 1.2em;
  }
}
@media (max-width: 480px) {
  .footer-10 .subscribe-form input.email {
    font-weight: 300;
    letter-spacing: 0px;
    padding-bottom: 1em;
    text-align: center;
    font-size: 17px;
    line-height: 1.2em;
  }
}
.header-13-sub h3 {
  font-weight: 500;
}
