{% assign base = site.baseurl %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>Analog</title>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="{{base}}/img/favicon.ico" type="image/x-icon" />
  <!--[if lt IE 9]>
  <script src="{{base}}/js/html5shiv.js"></script>
  <![endif]-->
  <style>
	html,body { color: #000; background-color: #fff; margin: 0; padding: 0; font-family: Helvetica,Arial,SanSerif}
	header { border-bottom: 1px solid black; text-indent: -9999px; background: #fff url('http://gravatar.com/avatar/8a9e0e5806d0fa2f4f759261725c37e7?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-org-420.png') 0 0 no-repeat; }
	header, footer, section { padding: 1em; }
  </style>
</head>

<body>
  {% include header.html %}
  <section id="content">
    {{content}}
  </section>
  {% include footer.html %}
</body>

</html>